
<!DOCTYPE html>
<ul>
	<li><a href = "<%=pages_home_path%>">Home</a></li>
	<li><a href = "<%=articles_path%>">List all Elements</a></li>
	<li><a href = "<%=pages_about_path%>">About</a></li>
	<li><a href = "#">Contact</a></li>
</ul>

<h1 style = "text-align: center";>This is the home page of my blog app</h1>