<div class="container">
<footer class="footer" >
<small>
     copyright &copy; <a href="#">Ruby on Rails Developer</a>
     by <a href="#">Sarath</a>
     </small>
     <nav>
     	<ul>
     		<li><%= link_to "About", pages_about_path %></li>
     	</ul>
     </nav>
     </footer>
</div>